# <font color='orange'> Lab | Inferential statistics - T-test & P-value </gont>

- Instructions
- We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
- In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other
- An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?
- Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case
- Degrees of freedom is (n1-1)+(n2-1).

In [178]:
import numpy as np
import pandas as pd
import math
import scipy.stats

In [179]:
# data=pd.read_csv('machine.txt')

data=pd.read_csv('machine.txt', encoding="utf-16", sep="\t") 
data2=pd.read_csv('student_gpa.txt' ,  sep="\t")

Set up the null hypothesis and the alternate hypothesis
- H0: µ1 = µ2  La hipotesis nula nos dice que la maquina 1 no es mejor que la 2, por los que sus medias seran iguales
- Ha: µ1 =! µ2

In [180]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [181]:
data=data.set_axis(['new_m','old_m'], axis=1)
data

   new_m  old_m
0   42.1   42.7
1   41.0   43.6
2   41.3   43.8
3   41.8   43.3
4   42.4   42.5
5   42.8   43.5
6   43.2   43.1
7   42.3   41.7
8   41.8   44.0
9   42.7   44.1

In [182]:
mean_new=np.mean(data['new_m'])
mean_new

42.14

In [183]:
mean_old=round(np.mean(data['old_m']),5)
mean_old

43.23

In [184]:
std_new=round(np.std(data['new_m']),5)
std_old=round(np.std(data['old_m']),5)
print(std_new, std_old)

0.64838 0.71141

In [185]:
n_new=10
n_old=10

In [186]:
t= round((mean_new - mean_old)/math.sqrt(math.pow(std_new,2)/n_new + math.pow(std_old,2)/n_old),5)
t

-3.58099

In [187]:
pvalue=1-scipy.stats.t.sf(t, df=(n_new+n_old-2))
pvalue

0.001067806674431182

In [188]:
# El p values es 0.00214 < 0.05, por lo que se rechaza la hipotesis nula y se acepa nuestra hipotesis alternativa, la maquina nueva es mas rapida que la vieja

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

ho= µ1=µ2
ha:=  µ1=!µ2

In [189]:
data2=data2.set_axis(['sophomores','juniors'], axis=1)
data2

    sophomores  juniors
0         3.04     2.56
1         1.71     2.77
2         3.30     2.70
3         2.88     3.00
4         2.11     2.98
5         2.60     3.47
6         2.92     3.26
7         3.60     3.20
8         2.28     3.19
9         2.82     2.65
10        3.03     3.00
11        3.13     3.39
12        2.86     2.58
13        3.49      NaN
14        3.11      NaN
15        2.13      NaN
16        3.27      NaN

In [190]:
sop_mean=round(np.mean(data2['sophomores']),3)
sop_mean

2.84

In [191]:
jun_mean=round(np.mean(data2['juniors']),3)
jun_mean

2.981

In [192]:
sop_std=round(np.std(data2['sophomores']),3)
sop_std

0.504

In [193]:
jun_std=round(np.std(data2['juniors']),3)
jun_std

0.297

In [194]:
n1=17
n2=13

In [195]:
t=((sop_mean-jun_mean-0)/math.sqrt(math.pow(sop_std,2)/n1+ math.pow(jun_std,2)/n2))
t

-0.9565660863331317

In [201]:
pvalue=round(scipy.stats.t.sf(abs(t), df=(n1+n2-2))*2,5)
# pvalue=round(scipy.stats.t.sf(abs(t), df=min(n1,n2))*2,5) # si elegimos grados de libertad igual al min entre n1 y n2
pvalue

0.34697

In [1]:
# Como el pvalue es mayor que nuestro 0.05 , con un 5% de significancia , la data no da suficiente evidencia de que
# las medias de sophomores y juniors sean difrentes