# <font color='orange'> Lab | Web Scraping Multiple Pages  </font>

- Business goal:
- Check the case_study_gnod.md file.
- Make sure you've understood the big picture of your project:
- the goal of the company (Gnod),
- their current product (Gnoosic),
- their strategy, and
- how your project fits into this context.
- Re-read the business case and the e-mail from the CTO, take a look at the flowchart and create an initial Trello board with the tasks you think you'll have to accomplish.

- Instructions
  - Prioritize the MVP
  - In the previous lab, you had to scrape data about "hot songs". It's critical to be on track with that part, as it was part of the request from the CTO.
  - If you couldn't finish the first lab, use this time to go back there.
  - Expand the project
  - If you're done, you can try to expand the project on your own. Here are a few suggestions:
  - Find other lists of hot songs on the internet and scrape them too: having a bigger pool of songs will be awesome!
  - Apply the same logic to other "groups" of songs: the best songs from a decade or from a country / culture / language / genre.
  - Wikipedia maintains a large collection of lists of songs: https://en.wikipedia.org/wiki/Lists_of_songs

- Enlace trello 
https://trello.com/invite/b/NdM54rFw/ATTI63ea383c365c9d6f9c23698cc7321976C345E061/gnoosic

In [1581]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [1582]:
# Nos traemos lo del lab anterior
url = 'https://www.billboard.com/charts/hot-100/'
billboard_html = requests.get(url).content
soup = BeautifulSoup(billboard_html, "html.parser")

In [1583]:
songs = soup.find_all("h3", class_="a-no-trucate")
artists = soup.find_all("span", class_="a-no-trucate")
for i in [songs, artists]:
    for j in range(len(i)):
        i[j] = i[j].getText()
billboard = pd.DataFrame(
    {"song": songs,
     "artist": artists})
billboard= billboard.replace({'\n':'','\t':'' }, regex=True)
billboard

                       song                                artist
0                   Flowers                           Miley Cyrus
1                 Kill Bill                                   SZA
2       Boy's A Liar, Pt. 2            PinkPantheress & Ice Spice
3                  Creepin'  Metro Boomin, The Weeknd & 21 Savage
4                Last Night                         Morgan Wallen
..                      ...                                   ...
95              Slut Me Out                            NLE Choppa
96                 La Jumpa                  Arcangel & Bad Bunny
97  Shut Up My Moms Calling                            Hotel Ugly
98                     Gold                        Dierks Bentley
99                 Back End                         Finesse2Tymes

[100 rows x 2 columns]

In [1584]:
# Encontramos una nueva lista con top 200 
url = 'https://kworb.net/spotify/country/global_daily.html'
spotify_chart = requests.get(url).content
soup = BeautifulSoup(spotify_chart, "html.parser")

In [1585]:
search = soup.select('div>a') # Nos va a traer el artista y la cancion
artists = search[::2]
songs = search[1::2]

In [1586]:
# 6. Get the text
for i in [artists, songs]:
    for j in range(len(i)):
        i[j] = i[j].getText()

In [1587]:
top200 = pd.DataFrame({"songs": songs,"artist": artists })
top200

                                              songs          artist
0                                           Flowers     Miley Cyrus
1                                               TQG         KAROL G
2                                         Kill Bill             SZA
3                               Die For You - Remix      The Weeknd
4                                Boy's a liar Pt. 2  PinkPantheress
..                                              ...             ...
195  STAR WALKIN' (League of Legends Worlds Anthem)       Lil Nas X
196                                     After Hours      The Weeknd
197                            Locked out of Heaven      Bruno Mars
198                                        Payphone        Maroon 5
199                                        One Kiss   Calvin Harris

[200 rows x 2 columns]

In [1588]:
# List of anti-war songs
# General pacifist and anti-war songs
url = 'https://en.wikipedia.org/wiki/List_of_anti-war_songs'
anti_war = requests.get(url).content
soup = BeautifulSoup(anti_war, "html.parser")

In [1589]:
search=soup.select('td')
search = [i.get_text() for i in search]
search=search[2:917]
year=search[0::3]
song=search[1::3]
artist = search[2::3]
anti_war_songs=pd.DataFrame({'year': year,
                             'song': song,
                             'artist':artist})
anti_war_songs=anti_war_songs.replace({'"':'','\n':''}, regex=True)
anti_war_songs

,year,song,artist
0,1971,And the Band Played Waltzing Matilda,Eric Bogle
1,1867,Johnny I Hardly Knew Ye,Traditional
2,1985,19,Paul Hardcastle
3,1966,7 O'Clock News/Silent Night,Simon & Garfunkel
4,1989,After the War,Gary Moore
...,...,...,...
300,1976,Zombie,Fela Kuti
301,1994,Zombie,The Cranberries
302,1968,Zor and Zam,The Monkees
303,1982,Радиоактивность (Radioactivity),Center
304,1999,Il mio nome è mai più,"LigaJovaPelù (Luciano Ligabue, Jovanotti, Pier..."

# <font color='orange'> Practice web scraping  </font>
- As you've seen, scraping the internet is a skill that can get you all sorts of information. Here are some little challenges that you can try to gain more experience in the field:
- Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page: url ='https://en.wikipedia.org/wiki/Python'
- Find the number of titles that have changed in the United States Code since its last release point: url = 'http://uscode.house.gov/download/download.shtml'
- Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'
- Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'
- List all language names and number of related articles in the order they appear in wikipedia.org: url = 'https://www.wikipedia.org/'
- A list with the different kind of datasets available in data.gov.uk: url = 'https://data.gov.uk/'
- Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [1590]:
# # Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page:
url ='https://en.wikipedia.org/wiki/Python'
python_links = requests.get(url).content
soup = BeautifulSoup(python_links, "html.parser")

In [1591]:
links = []
for link in soup.find_all("a"):
    href = link.get("href")
    if href.startswith("http"):
        links.append(href)

In [1592]:
# Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page:
links=list(links)
links

['https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1139211777',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://developer.wikimedia.org',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

In [1593]:
# Find the number of titles that have changed in the United States Code since its last release point:
url ='http://uscode.house.gov/download/download.shtml'
titles_UE = requests.get(url).content
soup = BeautifulSoup(titles_UE, "html.parser")

In [1594]:
titles = soup.find_all("div", class_="usctitlechanged")
titles = [i.get_text() for i in titles]

In [1595]:
# 6. Get the text
# for i in [titles]:
#     for j in range(len(i)):
#         i[j] = i[j].getText()

In [1596]:
titles=list(titles)

In [1597]:
titles = [x.replace('\n', '').replace('٭','').strip() for x in titles]
titles

['Title 2 - The Congress',
 'Title 3 - The President',
 'Title 5 - Government Organization and Employees',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 10 - Armed Forces',
 'Title 12 - Banks and Banking',
 'Title 14 - Coast Guard',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations',
 "Title 38 - Veterans' Benefits",
 'Title 39 - Postal Service',
 'Title 40 - Public Buildings, Property, and Works',
 'Title 41 - Public Contracts',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents',
 'Title 45 - Railroads',
 'Title 46 - Shipping',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs',
 'Title 54 - National Park Service and Related Programs']

In [1598]:
len(titles)

42

In [1599]:
# Create a Python list with the top ten FBI's Most Wanted names:
url = 'https://www.fbi.gov/wanted/topten'
fbi_mw = requests.get(url).content
soup = BeautifulSoup(fbi_mw, "html.parser")

In [1600]:
fbi = soup.find_all("h3", class_='title' )
fbi = [i.get_text() for i in fbi]
fbi=pd.DataFrame({"most_wanted":fbi})
fbi=fbi.replace({'\n':'','-':' ' }, regex=True)
fbi

                         most_wanted
0  JOSE RODOLFO VILLARREAL HERNANDEZ
1         ALEJANDRO ROSALES CASTILLO
2        YULAN ADONAY ARCHAGA CARIAS
3                      RUJA IGNATOVA
4                    ARNOLDO JIMENEZ
5            OMAR ALEXANDER CARDENAS
6                      ALEXIS FLORES
7     BHADRESHKUMAR CHETANBHAI PATEL
8                MICHAEL JAMES PRATT
9               RAFAEL CARO QUINTERO

In [1601]:
# Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: 
url = 'https://www.emsc-csem.org/Earthquake/'
earthquakes = requests.get(url).content
soup = BeautifulSoup(earthquakes, "html.parser")

In [1602]:
date_time=soup.select("b>a")
date_time = [i.get_text() for i in date_time]
date_time = [x.replace("\xa0\xa0\xa0", " ") for x in date_time]
date_time = [x.split(" ") for x in date_time]
date_time.pop(50) # Eliminamos el elemento 50, ya que no es parte de la info que queremos  ['Privacy']]
date_time=pd.DataFrame(date_time)
date_time = date_time.set_axis(['date', 'time'], axis=1)

In [1603]:
# latitude
lat_long=soup.find_all("td", class_="tabev1") # aqui nos esta dando primero latitud y luego longitud
lat_long = [i.get_text() for i in lat_long]
lat_long = [x.replace("\xa0", "") for x in lat_long]
latitude = lat_long[0:100:2]
longitude = lat_long[1:100:2]
latitude= pd.DataFrame(latitude)
longitude= pd.DataFrame(longitude)

In [1604]:
# Aqui no obtuvimos la longitud y latitud completa, falta traernos las columas dew si es N o S ,  E Y W
lat_long_let=soup.find_all("td", class_="tabev2")  # Aqui tambien nos esta trayendo la magnitud
lat_long_let=[i.get_text() for i in lat_long_let]
lat_long_let=[x.replace("\xa0","") for x in lat_long_let]
lat_let = lat_long_let[0:150:3]
lon_let = lat_long_let[1:150:3]
magnitude = lat_long_let[2:150:3]
lat_let= pd.DataFrame(lat_let)
lon_let= pd.DataFrame(lon_let)
magnitude= pd.DataFrame(magnitude)

In [1605]:
region=soup.find_all("td", class_="tb_region")
region = [i.get_text() for i in region] # aqui nos esta dando primero latitud y luego longitud
region=[x.replace("\xa0","") for x in region]
region = pd.DataFrame(region)

In [1606]:
# Creamos un Dataframe con toda nuestra data
data=np.concatenate([date_time, latitude, lat_let, longitude, lon_let, magnitude, region], axis=1, )
data=pd.DataFrame(data)

In [1607]:
data["latitude"]= data[2] + " " + data[3]
data["longitude"]= data[4] + " " + data[5]
data=data.drop([2,3,4,5], axis=1)
data=data.set_axis(['date', 'time','magnitude','region', 'latitude', 'longitude'], axis=1)
data=data[0:20]
data

,date,time,magnitude,region,latitude,longitude
0,2023-03-02,22:06:39.1,2.0,WESTERN TURKEY,38.34 N,27.17 E
1,2023-03-02,21:52:37.9,2.1,"ISLAND OF HAWAII, HAWAII",19.39 N,155.48 W
2,2023-03-02,21:49:59.0,4.5,CHINA-LAOS-VIETNAM BORDER REGION,22.28 N,102.28 E
3,2023-03-02,21:49:22.6,2.3,CENTRAL TURKEY,37.39 N,36.90 E
4,2023-03-02,21:35:51.2,3.0,WESTERN TURKEY,38.99 N,27.85 E
5,2023-03-02,21:31:53.1,2.2,CENTRAL TURKEY,37.48 N,37.13 E
6,2023-03-02,21:18:41.7,2.2,NORTHERN CALIFORNIA,38.79 N,122.78 W
7,2023-03-02,21:16:49.8,3.2,NORTHERN CALIFORNIA,38.83 N,122.70 W
8,2023-03-02,21:13:20.0,3.7,"SERAM, INDONESIA",3.35 S,128.35 E
9,2023-03-02,21:11:06.5,2.0,ALBANIA,41.36 N,19.59 E
10,2023-03-02,20:56:52.4,2.3,CENTRAL TURKEY,37.99 N,36.42 E
11,2023-03-02,20:55:28.8,5.0,VANUATU,14.86 S,166.88 E
12,2023-03-02,20:52:01.6,2.3,CENTRAL TURKEY,38.16 N,37.89 E
13,2023-03-02,20:37:10.6,2.2,CENTRAL TURKEY,37.61 N,37.19 E
14,2023-03-02,20:25:10.0,3.6,MOLUCCA SEA,2.91 N,127.42 E
15,2023-03-02,20:22:46.8,2.5,CENTRAL TURKEY,38.12 N,37.86 E
16,2023-03-02,20:22:02.0,3.8,MOLUCCA SEA,0.29 N,125.74 E
17,2023-03-02,20:16:45.1,3.9,CENTRAL TURKEY,38.03 N,36.65 E
18,2023-03-02,20:11:50.1,2.7,CENTRAL TURKEY,38.09 N,37.89 E
19,2023-03-02,20:00:02.5,5.0,SANTA CRUZ ISLANDS,11.97 S,166.05 E

In [1608]:
# List all language names and number of related articles in the order they appear in wikipedia.org: 
url = 'https://www.wikipedia.org/'
wikipedia = requests.get(url).content
soup = BeautifulSoup(wikipedia, "html.parser")

In [1609]:
languages = soup.find_all('strong')
articles =  soup.select('small>bdi')

In [1610]:
languages = [i.get_text() for i in languages] 
languages.pop(0)
languages.pop(10)
languages=pd.DataFrame(languages)

In [1611]:
articles = [i.get_text() for i in articles]
articles=pd.DataFrame(articles)
type(articles)

pandas.core.frame.DataFrame

In [1612]:
wikipedia=np.concatenate([languages, articles], axis=1)

In [1613]:
wikipedia=pd.DataFrame(wikipedia)
wikipedia=wikipedia.set_axis(['idioma', 'languages'], axis=1)
wikipedia

     idioma   languages
0   English  6 606 000+
1   Русский  1 887 000+
2       日本語  1 359 000+
3   Deutsch  2 764 000+
4  Français  2 488 000+
5   Español  1 833 000+
6  Italiano  1 792 000+
7        中文  1 331 000+
8     فارسی    947 000+
9    Polski  1 552 000+

In [1614]:
# A list with the different kind of datasets available in data.gov.uk:
url = 'https://data.gov.uk/'
datasets = requests.get(url).content
soup = BeautifulSoup(datasets, "html.parser")

In [1615]:
datasets=soup.select('h3>a')
datasets = [i.get_text() for i in datasets ]
datasets = pd.DataFrame({"datasets": datasets})
datasets

                       datasets
0          Business and economy
1             Crime and justice
2                       Defence
3                     Education
4                   Environment
5                    Government
6           Government spending
7                        Health
8                       Mapping
9                       Society
10             Towns and cities
11                    Transport
12  Digital service performance
13    Government reference data

In [1616]:
# Display the top 10 languages by number of native speakers stored in a pandas dataframe:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
speakers = requests.get(url).content
soup =  BeautifulSoup (speakers,'html.parser')

In [1617]:
speakers=soup.find_all('td')
speakers = [i.get_text() for i in speakers]
speakers=speakers[0:108]
languages=speakers[::4]
num_speakers = speakers[1::4]

In [1618]:
speakers=pd.DataFrame({'languages': languages,
                       'num_speakers': num_speakers})

In [1619]:
speakers=speakers.replace({'\n':""}, regex=True)
speakers

                                            languages num_speakers
0   Mandarin Chinese(incl. Standard Chinese, but e...          939
1                                             Spanish          485
2                                             English          380
3                                   Hindi(excl. Urdu)          345
4                                          Portuguese          236
5                                             Bengali          234
6                                             Russian          147
7                                            Japanese          123
8                        Yue Chinese(incl. Cantonese)         86.1
9                                          Vietnamese         85.0
10                                            Turkish         84.0
11                     Wu Chinese(incl. Shanghainese)         83.4
12                                            Marathi         83.2
13                                             Telugu         83.0
14                                             Korean         81.7
15                                             French         80.8
16                                              Tamil         78.6
17        Egyptian Spoken Arabic(excl. Saʽidi Arabic)         77.4
18                                    Standard German         75.3
19                                  Urdu(excl. Hindi)         70.6
20                                           Javanese         68.3
21             Western Punjabi(excl. Eastern Punjabi)         66.7
22                                            Italian         64.6
23                                           Gujarati         57.1
24              Iranian Persian(excl. Dari and Tajik)         57.2
25                                           Bhojpuri         52.3
26                                              Hausa         51.7